.drag-drop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2.75rem 2rem 2rem 2rem;
  width: calc(100% - 6rem);
  height: calc(100vh - 6rem);
  padding: 4px;
  border: dashed 2px gray;

  &:hover {
    // background: rgba(0, 0, 0, 0.1);
  }
}
