// COLORS
$color-primary: #2998ff;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-max-width: 114rem;
$gutter-y: 8rem;
$gutter-x: 6rem;
