.u {
  &-m {
    &-t {
      &-small {
        margin-top: 1.5rem;
      }

      &-medium {
        margin-top: 4rem;
      }

      &-big {
        margin-top: 8rem;
      }

      &-huge {
        margin-top: 10rem;
      }
    }

    &-b {
      &-small {
        margin-bottom: 1.5rem;
      }

      &-medium {
        margin-bottom: 4rem;
      }

      &-big {
        margin-bottom: 8rem;
      }
    }
  }

  &-center-text {
    text-align: center;
  }
}
